* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 10px 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header nav ul li {
    margin: 0 15px;
    
    text-transform: uppercase;
    color: aquamarine;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 0;
    background-color: #ff6f61;
    color: white;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 24px;
    margin: 20px 0;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: rgb(228, 131, 131);
    text-decoration: none;
    border-radius: 5px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 30px;
}

.product {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.product img {
    max-width: 100%;
    height: auto;
}
.product button{
    font-weight: bold;
    background-color:rgb(110, 206, 206);
    cursor: progress;
}

.cart {
    padding: 50px;
    text-align: center;
    background-color: beige;
}

.cart table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.cart table th, .cart table td {
    padding: 10px;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}





